#card {
    border: 2px solid black;
    width: 200px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px grey;
    border-radius: 2%;
    display: block;
}
img {
    border-radius: 10px;
    margin: 10px;

}
h4 {
    color: teal;
    font-family: 'Arial', sans-serif;
}